{% filter remove_whitespace %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{ settings.title }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href="{{ config.url_stylesheet }}">
    <style type="text/css">
      fieldset{
        margin:10px 0;
      }
      legend{
        background:#98E;
        border:1px solid white;
        color:white;
        font-weight:bold;
        margin-left:-15px;
        padding:5px 5px;
        width:100%;
      }
      ul{
        margin:0;
        padding:0;
      }
      li{
        list-style:none;
        margin: 0 4px;
        padding:0 4px;
      }
      li a.system{
        font-weight:bold;
      }
    </style>
    <base target="main">
  </head>
  <body>
    <fieldset>
      <legend>{{ settings.title }}</legend>
      <ul>
        <li>
          <a class="system" href="{{ settings.file_news }}">[News]</a>
        </li>
      </ul>
    </fieldset>

    <fieldset>
      <legend>Boards</legend>
      <ul>
        {% for board in boards %}
          <li>
            <a href="{{ config.board_path|sprintf(board.uri) }}">
              {{ board.title|e }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </fieldset>
  </body>
</html>
{% endfilter %}
