	<footer>
		<p class="unimportant">built on <a href="https://github.com/savetheinternet/Tinyboard" target="_blank">tinyboard</a> + <a href="https://github.com/vichan-devel/vichan" target="_blank">vichan</a> + <a href="https://github.com/arisu-dev/arisuchan" target="_blank">arisuchan</a></p>

		<p class="unimportant">Tinyboard Copyright &copy; 2010-2014 Tinyboard Development Group. vichan Copyright &copy; 2012-2016 vichan-devel. <a href="https://github.com/arisu-dev/arisuchan" target="_blank">arisuchan Copyright &copy; 2018 arisu-dev.</a></p>

		<p class="unimportant">All trademarks, copyrights, comments, and images on this page are owned by and are the responsibility of their respective parties.</p>
	</footer>
