<script type="application/javascript" src="main.js"></script>
<script type="application/javascript" src="js/jquery.min.js"></script>
<script type="application/javascript" src="js/mobile-style.js"></script>
<script type="application/javascript" src="js/strftime.min.js"></script>
<script type="application/javascript" src="js/longtable/longtable.js"></script>
<script type="application/javascript" src="js/mod/ban-list.js"></script>
<link rel="stylesheet" href="stylesheets/longtable/longtable.css">
<link rel="stylesheet" href="stylesheets/mod/ban-list.css">
<form action="?/bans" method="post" class="ban-list banform">
  {% if token %}
    <input type="hidden" name="token" value="{{ token }}">
  {% endif %}
  <div class="banlist-opts">
    <div class="checkboxes">
      {% if mod and mod.boards[0] != '*' %}
        <label>
          <input type="checkbox" id="only_mine"> {% trans %}Show only bans from boards I moderate{% endtrans %}
        </label>
      {% endif %}
      <label>
        <input type="checkbox" id="only_not_expired"> {% trans %}Show only active bans{% endtrans %}
      </label>
    </div>
    <div class="buttons">
      <input type="text" id="search" placeholder="{% trans %}Search{% endtrans %}">
      {% if mod %}
        <input type="submit" name="unban" id="unban" value="{% trans 'Unban selected' %}">
      {% endif %}
    </div>
    <br class="clear">
  </div>
  <table class="mod" id="banlist">
  </table>
</form>
{% if token_json %}
  <script type="application/javascript">$(function(){ banlist_init("{{ token_json }}", {{ boards }}); });</script>
{% else %}
  <script type="application/javascript">$(function(){ banlist_init("{{ uri_json }}", {{ boards }}, true); });</script>
{% endif %}
