{% if themes|count == 0 %}
  <p class="unimportant text-align-center">({% trans 'There are no themes available.' %})</p>
{% else %}
  <table class="modlog mod-themes">
    {% for theme_name, theme in themes %}
      <tr>
        <th class="minimal">{% trans 'Name' %}</th>
        <td>{{ theme.name }}</td>
      </tr>
      <tr>
        <th class="minimal">{% trans 'Version' %}</th>
        <td>{{ theme.version }}</td>
      </tr>
      <tr>
        <th class="minimal">{% trans 'Description' %}</th>
        <td>{{ theme.description }}</td>
      </tr>
      <tr>
        <th class="minimal">{% trans 'Thumbnail' %}</th>
        <td>
          <img class="float-none image-margin{% if theme_name in themes_in_use %} active-theme{% endif %}" src="{{ config.dir.themes_uri }}/{{ theme_name }}/thumb.png" alt="theme thumbnail">
        </td>
      </tr>
      <tr>
        <th class="minimal">{% trans 'Actions' %}</th>
        <td>
          <ul>
            <li><a title=" {% trans 'Use theme' %}" href="?/themes/{{ theme_name }}">
              {% if theme_name in themes_in_use %}{% trans 'Reconfigure' %}{% else %}{% trans 'Install' %}{% endif %}
            </a></li>
            {% if theme_name in themes_in_use %}
              <li><a href="?/themes/{{ theme_name }}/rebuild/{{ theme.rebuild_token }}">{% trans 'Rebuild' %}</a></li>
              <li><a href="?/themes/{{ theme_name }}/uninstall/{{ theme.uninstall_token }}" onclick="return confirm('Are you sure you want to uninstall this theme?');">{% trans 'Uninstall' %}</a></li>
            {% endif %}
          </ul>
        </td>
      </tr>
      <tr class="tr-hr">
        <td colspan="2">
          <hr>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
